USE [master]
GO
/****** Object:  Database [WebLabAuthDb]    Script Date: 4.09.2025 14:46:57 ******/
CREATE DATABASE [WebLabAuthDb]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'WebLabAuthDb', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\WebLabAuthDb.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'WebLabAuthDb_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\WebLabAuthDb_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [WebLabAuthDb].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [WebLabAuthDb]
GO
/****** Object:  Table [dbo].[Kullanicilar]    Script Date: 4.09.2025 14:46:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Kullanicilar](
	[id] [tinyint] IDENTITY(1,1) NOT NULL,
	[ad] [varchar](20) NULL,
	[sifre] [varchar](20) NULL
) ON [PRIMARY]
GO
USE [master]
GO
